header {
  display: block;
}

header .marquee {
  margin: 0 auto;
  padding: 0.75rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .marquee span {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

nav {
  -webkit-box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem !important;
}

.nav-item {
  margin: 0;
}

.nav-item a {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #2a6693 !important;
}

.title-screen {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-size: 48px;
  margin: 1.5rem 0;
}

.stripes {
  width: 100px;
  height: 10px;
  background-color: #57aeff;
}

.title-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9d9d9d;
  margin: 1.5rem 0;
}

.title-section {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 62px;
  font-size: 38px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-card {
  border-radius: 5px;
  padding: 2rem 3rem;
  width: 320px;
  margin: 1.25rem 0;
  border: none !important;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-card h4 {
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.card-blue {
  background: linear-gradient(100.51deg, #aee2ff 0%, #89c6ff 96.4%);
}

.card-purple {
  background: linear-gradient(100.56deg, #cab1ff 0%, #a57bff 100.8%);
}

.card-red {
  background: linear-gradient(279.81deg, #ff5887 -2.27%, #ffa3be 100%);
}

.display-text {
  margin: 2.5rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  vertical-align: middle;
}

.c-crd {
  float: left;
  display: inline-block;
  padding-left: 1em;
  padding-bottom: 1em;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.c-crd__wrap {
  overflow: hidden;
  border-radius: 0.5em;
  background-color: white;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
}

a.c-crd__wrap {
  display: block;
  color: slategrey;
  text-decoration: none;
}

a.c-crd__wrap:hover {
  color: #5a6773;
}

.c-crd__img {
  position: relative;
  padding-top: 52.3560209424%;
  display: block;
  overflow: hidden;
}

.c-crd__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

_:-ms-input-placeholder .c-crd__img img,
:root .c-crd__img img {
  height: auto;
}

.c-crd__btm {
  padding: 1em;
}

.card-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #9f9f9f;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.map-box {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.map-box .map-column {
  width: 100%;
}

.map-box .map-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-box .map-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-box .map-item a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-card {
  margin-bottom: 2rem;
  width: 200px;
  min-height: 300px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.image-card img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 1000;
  max-width: 75px;
  max-height: 75px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.contact:hover {
  bottom: 1.5rem;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

footer {
  padding: 2rem 4rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background-color: #e0e0e0;
}

@media screen and (max-width: 920px) {
  header {
    display: none !important;
  }
  .flex-container {
    display: inline;
  }
  .custom-card {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    margin: 1.25rem 0;
  }
  .custom-card h4 {
    font-size: 30px;
    font-weight: 400;
  }
  .card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #9f9f9f;
  }
  footer {
    padding: 1rem 1rem;
    text-align: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: #e0e0e0;
  }
}

@media screen and (max-width: 620px) {
  .contact {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 1000;
    max-width: 60px;
    max-height: 60px;
  }
  .card-title {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px;
  }
  .card-description {
    font-weight: 400;
    font-size: px;
    line-height: 25px;
    color: #9f9f9f;
  }
  .map-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  }
  .map-box .map-column {
    width: 100%;
  }
  .map-box .map-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map-box .map-item a {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map-box .map-item a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
}

@media screen and (min-width: 38em) {
  .c-crds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 38em) {
  .c-crd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (min-width: 38em) {
  .c-crd__wrap {
    height: auto;
  }
}

@media screen and (min-width: 0\0) {
  .c-crd__img img {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */